* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blue;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.wrapper .loader {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.loader .loading-one,
.loader .loading-two,
.loader .loading-three,
.loader .loading-four {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 0 10px;
  animation: load 0.8s ease-in-out infinite;
}

.loader .loading-one {
  animation-delay: 0.1s;
}
.loader .loading-two {
  animation-delay: 0.2s;
}
.loader .loading-three {
  animation-delay: 0.3s;
}
.loader .loading-four {
  animation-delay: 0.4s;
}

@keyframes load {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
}
