.box {
  width: 300px;
  height: 200px;
  background-color: rgb(151, 206, 188);
  color: violet;
  font-size: 20px;
  font-weight: bold;
}
.joke {
  padding: 10px 20px;
  font-weight: bold;
}
body {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
